@font-face { font-family: LEMONMILK; src: url('../assets/LEMONMILK.otf'); }
@font-face { font-family: LEMONMILK-I; src: url('../assets/LEMONMILK-I.otf'); }

/*HEADER & FOOTER*/
.page-container 
{
    position: relative;
    min-height: 100vh;
}

/*Header*/
.sidenav 
{
    /*overflow: hidden;*/
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    font-size: 2vw;
    font-family: LEMONMILK;
    z-index: 1;
}

.sidenav a 
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.sidenav a:hover, .dropdown:hover .dropbtn 
{
    background: white;
    color: black;
    text-shadow: 2px 2px gray;
    font-family: LEMONMILK;
}

.dropdown 
{
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn 
{
    font-size: 2vw;  
    border: none;
    color: white;
    padding: 8px 16px;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a 
{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover 
{
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content
{
    display: block;
}

/*Footer*/
.footer
{
    position: relative;
    bottom: 0;
    background-color: black;
    width: 100%;
    padding: 70px 30px 20px;
}

.footerIcons
{
    display: flex;
    justify-content: center;
}

.footerIcons a
{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.footerBottom
{
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerBottom p
{
    color: white;
}

.designer
{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    
}

/*CLASSES*/
.art_select
{
    display: flex;
    flex-direction: column;
    align-items:center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: LEMONMILK;
    font-size: 25px;
}

.work_in_progress 
{
    margin-top: 10%;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: LEMONMILK;
    font-size: 50px; 
    text-align: center;
}

.header_large
{
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: LEMONMILK;
    font-size: 50px;
}

.header_icons
{
    vertical-align:middle;/*fix this*/
}

.container_icons
{
    vertical-align:middle;/*fix this*/
}


.blog_image
{
    padding: 0px 16px;
    float: left;
    left: 50%;
}

.store_image
{
    padding: 8px 10px;
}

.box
{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
}

.box_text
{
    width: 15vw;
    min-width: 500px;
    padding: 50px;
    position:relative;
}

.box_music
{
    width: 15vw;
    min-width: 500px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
}

/*TEXTS*/
.home_bar
{
    color: black;
    background-color: white;
    padding-top: 80px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: LEMONMILK;
}

.small_text
{
    color:white;
    font-size: 20px;
}

.italic_text
{
    color:white;
    font-size: 20px;
    font-style: italic;
}

.large_text
{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: LEMONMILK;
    font-size: 25px;
}

.header_text 
{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: LEMONMILK;
    float: left;
    left: 50%;
    font-size: 25px;
}

.blog_text
{
    color:white;
    font-size: 20px;
    width: 55vw;
    min-width: 500px;
    padding: 50px;
    position:relative;
    text-align: justify;
}

/* LIGHTBOX */
.row > .column 
{
    padding: 0 8px;
}
  
.row:after 
{
    content: "";
    display: table;
    clear: both;
}

.column 
{
    float: left;
    width: 25%;
}

.modal 
{
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content 
{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 600px;
}

.close 
{
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,.close:focus 
{
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides 
{
    display: none;
}

.prev,.next 
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next 
{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,.next:hover 
{
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext 
{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container 
{
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo 
{
    opacity: 0.6;
}

.active,.demo:hover 
{
  opacity: 1;
}

/*ANIMATION*/
#scroll-text
{
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}

@keyframes my-animation 
{
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}