@font-face { font-family: AKIRA; src: url('../assets/Akira.otf'); }
@font-face { font-family: MOM; src: url('../assets/Mom.ttf'); }

:root
{
    --maincolour: white;
    --mainglow:#ccc;
    --highlightcolur: rgb(198, 145, 233);
}

/*HEADER & FOOTER*/
.page-container 
{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}


/*Header*/
/*Vertical*/
.sidenav 
{
    width: 10vw;
    min-width: 300px;
    padding: 50px;
    font-size: 30px;
    color: var(--maincolour);
    z-index: 1;
    font-family: AKIRA;
}

.sidenav a 
{
    float: left;
    color: var(--maincolour);
    padding: 14px 16px;
    text-decoration: none; 
}

.sidenav a:hover, .dropdown:hover .dropbtn 
{
    color: white;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px var(--mainglow); /*This makes it glow*/
}

/*Horizontal*/
.sidenavb 
{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    min-width: 300px;
    font-size: 30px;
    color: var(--maincolour);
    z-index: 1;
    font-family: AKIRA;
}

.sidenavb a 
{
    float: left;
    color: var(--maincolour);
    padding: 14px 16px;
    text-decoration: none; 
}

.sidenavb a:hover, .dropdown:hover .dropbtn 
{
    color: white;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px var(--mainglow); 
}

.dropdown 
{
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn 
{
    font-size: 30px;  
    border: none;
    color: var(--maincolour);
    padding: 8px 16px;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: var(--maincolour);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a 
{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: var(--maincolour);
}
  
.dropdown-content a:hover 
{
    color: var(--maincolour);
    background-color: black;
}
  
.dropdown:hover .dropdown-content
{
    display: block;
}

/*Footer*/
.footer
{
    position: relative;
    bottom: 0;
    background-color: black;
    width: 100%;
    padding: 70px 0px 20px;
}

.footerIcons
{
    display: flex;
    justify-content: center;
}

.footerIcons a
{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.footerBottom
{
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerBottom p
{
    color: white;
}

.designer
{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    
}

/*TEXT*/
.home-text-box
{
    width: 100%;
    padding: 100px;
    color: var(--maincolour);
}

.self-text-box
{
    width: 455px;
    text-align: justify;
}

.small_text
{
    color: var(--maincolour);
    font-size: 16px;
    padding: 14px 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.large_text
{
    color: var(--highlightcolur);
    text-shadow: 1px 1px 10px var(--highlightcolur);
    padding: 0px 0px 14px 16px;
    text-decoration: none;
    font-family: AKIRA;
    font-size: 25px;
}

.large_text_stroke0
{
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--maincolour);
    padding: 0px 16px;
    text-decoration: none;
    font-family: AKIRA;
    font-size: 25px;
}

.large_text_stroke1
{
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--maincolour);
    padding: 0px 16px;
    text-decoration: none;
    font-family: AKIRA;
    font-size: 25px;
}

.large_text_stroke2
{
    color: transparent;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: var(--maincolour);
    padding: 0px 16px;
    text-decoration: none;
    font-family: AKIRA;
    font-size: 25px;
}


/*BLOG*/
.blog-horizontal
{
    height: 500px;
    width: 100%;
    padding: 100px;
    color: var(--maincolour);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none; /*Might not work on some browsers*/
}

.blog_image
{
    padding: 0px 16px;
    float: left;
    left: 50%;
}

.date_text
{
    color: white;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px var(--mainglow);
    padding: 14px 16px;
    text-decoration: none;
    font-family: AKIRA;
    font-size: 25px;
}

.blog_text
{
    font-size: 16px;
    width: 55vw;
    min-width: 500px;
    position:relative;
    text-align: justify;
    font-family: MOM;
    /*background: gray;
    display: inline;*/  /*FIGURE OUT LATER*/
}

/*Other*/
.vl
{
    border-left: 3px solid var(--maincolour);
    height: 500px;
}

.box
{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
}

.about_box
{

    display: flex;
    flex-direction: row;
    padding: 50px;
    align-items: center;
}