@font-face { font-family: LEMONMILK; src: url('Assets/LEMONMILK.otf'); }
@font-face { font-family: LEMONMILK-I; src: url('Assets/LEMONMILK-I.otf'); }

.sidenav 
{
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    font-size: 2vw;
    font-family: LEMONMILK;
    z-index: 1;
}

.sidenav a 
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.sidenav a:hover 
{
    background: white;
    color: black;
    text-shadow: 2px 2px gray;
    font-family: LEMONMILK-I;
}

.page-container 
{
    position: relative;
    min-height: 100vh;
}

.footer
{
    overflow: hidden;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1vw;
    font-family: LEMONMILK;
    
}

.footer a 
{
    float: right;
    display: block;
    color: white;
    padding: 20px 16px;
    text-decoration: none;
    
}

.center 
{
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}

.art_center
{
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
    padding: 5px;
}

.feed_header
{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: LEMONMILK;
    font-size: 25px;
}

.feed_text
{
    color: white;
}

.home_text
{
    color: black;
    background-color: white;
    padding: 14px 16px;
    font-family: LEMONMILK;
}

.big_text
{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: LEMONMILK;
    font-size: 50px; 
}

.header_text 
{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: LEMONMILK;
    float: left;
    left: 50%;
    font-size: 25px;
}

.yap_text
{
    color:white;
    font-size: 20px;
}

.footer_img
{
    vertical-align:middle;
}

.box
{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
}

.box_text
{
    width: 15vw;
    min-width: 500px;
    padding: 50px;
    position:relative;
}

.box_music
{
    width: 15vw;
    min-width: 500px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.box_video
{
    display: flex;
}

.art_img
{
    height: 250px;
    width: auto;
}

.blog_image
{
    padding: 0px 16px;
    float: left;
    left: 50%;
}

.blog_text
{
    width: 55vw;
    min-width: 500px;
    padding: 50px;
    position:relative;
    text-align: justify;
}

/* LIGHTBOX */

.row > .column 
{
    padding: 0 8px;
}
  
.row:after 
{
    content: "";
    display: table;
    clear: both;
}

.column 
{
    float: left;
    width: 25%;
}

.modal 
{
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content 
{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 600px;
}

.close 
{
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,.close:focus 
{
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides 
{
    display: none;
}

.prev,.next 
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next 
{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,.next:hover 
{
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext 
{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container 
{
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo 
{
    opacity: 0.6;
}

.active,.demo:hover 
{
  opacity: 1;
}