@font-face { font-family: LEMONMILK; src: url('Assets/LEMONMILK.otf'); }
@font-face { font-family: LEMONMILK-I; src: url('Assets/LEMONMILK-I.otf'); }

.sidenav 
{
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    font-size: 2vw;
    font-family: LEMONMILK;
}

.sidenav a 
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.sidenav a:hover 
{
    background: white;
    color: black;
    text-shadow: 2px 2px gray;
    font-family: LEMONMILK-I;
}

.page-container 
{
    position: relative;
    min-height: 100vh;
}

.footer
{
    overflow: hidden;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1vw;
    font-family: LEMONMILK;
    
}

.footer a 
{
    float: right;
    display: block;
    color: white;
    padding: 20px 16px;
    text-decoration: none;
    
}

.center 
{
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}

.mod0
{
    color: white;
}

.mod1
{
    color: black;
    background-color: white;
    padding: 14px 16px;
    font-family: LEMONMILK;
}

.mod2 
{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: LEMONMILK;
    float: left;
    left: 50%;
}

.mod3 
{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: LEMONMILK;
    left: 50%;
}

.modimg
{
    border: White solid 5px;
    padding: 5px;
}

.box
{
    display: flex;
    flex-direction: row;
}

.box_text
{
    width: 15vw;
    min-width: 300px;
}

.box_image
{
    padding: 50px;
}